version: 2
updates:
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "monthly"
- package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: "monthly"
  groups:
    prometheus:
      patterns:
      - "github.com/prometheus/*"
    k8s.io:
      patterns:
      - "k8s.io/*"
    go.opentelemetry.io:
      patterns:
      - "go.opentelemetry.io/*"
  open-pull-requests-limit: 20
# Docker bot configurations
- package-ecosystem: "docker"
  directories:
  - "/"
  - "/docker"
  schedule:
    interval: "monthly"
